.content{
  position: relative;
  bottom: 10;
  background: rgba(0, 0, 0, 0);
  color: #f1f1f1;
  width: 95.5%;
  padding: 40px;
  text-align: center;
}

#myVideo{
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

p{
  color: white;
  font: menu;
}

a{
  color: black;
  font-size: 20px;
}
